<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.trade.bestpaycard.dal.mapper.TScsOrdAttrMapper">

    <!-- 查询序列号公共sql -->
   <insert id="insert" parameterType="com.bestpay.trade.bestpaycard.dal.model.TScsOrdAttrDO">
       INSERT INTO t_scs_ordattr
        (ORDATTR_ID, ORDER_ID, ATTR_ID, VALUE1, VALUE2, VALUE3, VALUE4, STAT)
       VALUES
        (#{ordAttrId, jdbcType=varchar},
         #{orderId},
         #{AttrId},
         #{Value1, jdbcType=varchar},
         #{Value2},
         #{Value3},
         #{Value4},
         #{Stat})
   </insert>

</mapper>