<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.trade.bestpaycard.dal.mapper.TScsActListMapper">

    <insert id="insert" parameterType="com.bestpay.trade.bestpaycard.dal.model.TScsActListDO">
        INSERT INTO t_scs_actlist
          (ACTLIST_ID, ACTLIST_SEQ, ORDER_ID, CUST_ID, PROD_ID,
          ACTION_ID, OBJ_CODE, OBJ_COUNT, CREATE_DATE, BEGIN_DATE,
          STAT, RET_ID, RET_CODE, RET_MSG, EVENT_SEQ,
          QRY_EVENT_SEQ, SRC_EVENTSEQ, SAG_ACTIONID, INF_ACTIONID)
        VALUES (
          #{actListId, jdbcType=VARCHAR},
          #{actListSeq, jdbcType=BIGINT},
          #{orderId, jdbcType=VARCHAR},
          #{custId, jdbcType=BIGINT},
          #{prodId, jdbcType=BIGINT},
          #{actionId, jdbcType=BIGINT},
          #{objCode, jdbcType=VARCHAR},
          #{objCount, jdbcType=BIGINT},
          SYSDATE,
          SYSDATE,
          #{stat, jdbcType=CHAR},
          #{retId, jdbcType=VARCHAR},
          #{retCode, jdbcType=VARCHAR},
          #{retMsg, jdbcType=VARCHAR},
          #{eventSeq, jdbcType=VARCHAR},
          #{qryEventSeq, jdbcType=VARCHAR},
          #{srcEventSeq, jdbcType=VARCHAR},
          #{sagActionId, jdbcType=BIGINT},
          #{infActionId, jdbcType=BIGINT}
        )
    </insert>

</mapper>