<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.trade.bestpaycard.dal.mapper.TScsOrdFeeMapper">

    <insert id="insert" parameterType="com.bestpay.trade.bestpaycard.dal.model.TScsOrdFeeDO">
        INSERT INTO T_SCS_ORDFEE
          (ORDFEE_ID, ORDER_ID, CURRENCY_CODE, PRIM_MONEY, DISC_MONEY,
          DUE_MOENY, PAY_MONEY, STAT)
        VALUES (
          #{ordFeeId},
          #{orderId},
          #{currencyCode},
          #{primMoney},
          #{discMoney},
          #{dueMoney},
          #{payMoney},
          #{stat}
        )
    </insert>

</mapper>